.cb-participation-admin-nav {
	list-style-type:none;
	display: flex;
	width: 100%;
	height: 40px;
	margin: 20px auto;
}

.cb-participation-admin-nav-item {
	flex: 1 1 200px;
	text-align: center;
}
.cb-participation-admin-nav-item.active a {
	color: #d1cbc1;
}

.cb-participation-admin-action-bar {
	display:flex;
	flex-flow:row wrap;
	justify-content: space-evenly;
	align-items: center;
}

.cb-participation-admin-bulk-action-container {
	flex: 1 1 50%;
}

#cb_participation_admin_bulk_edit_form {
	margin-bottom: 0;
}

@media (max-width: 768px ) {
	.cb-participation-admin-bulk-action-container {
		flex: 1 1 100%;
	}
	.cb-participation-pagination-container {
		flex: 1 1 100%;
	}
}

div.cb-participation-admin-panel {
	display:none;
}

.cb-participation-admin-panel.active {
	display:flex;
	flex-flow: row wrap;
	justify-content:space-evenly;
}

.cb-participation-admin-empty-notice {
	width: 100%;
	display:flex;
	justify-content:center;
	align-items:center;
	background-color: #d1cbc150;
	border-radius: 30px;
	text-align:center;
	color: #2a2a2a;
	padding: 10px;

}

.cb-participation-admin-empty-notice p {
	margin: 0;
}

.cb-participation-admin-entry {

	border: 1px solid #dbb778;
	border-radius: 20px;

}

.cb-participation-admin-entry-data-container {
	vertical-align: middle;
}

.cb-participation-admin-entry-data {
	font-size: .8rem;
	margin: 0;
}

.cb-participation-status-new {
	color: #007692;
	margin: 0;
}

.cb-participation-status-approved {
	color: #62cc8f;
	margin: 0;
}

.cb-participation-status-denied {
	color: #ffad87;
	margin: 0;
}

.cb-participation-admin-pagination-container {
	flex: 1 1 50%;
	display:flex;
	justify-content:center;
	align-items: center;
	width: 100%;
	height: 20vh;	
	max-height: 30px;
	margin: 30px auto;
}

.cb-participation-admin-transactions-pagination,
.cb-participation-admin-pagination {
	width: 100%;
	height: 15vh;
	max-height: 40px;
	min-width: 200px;
	max-width: 600px;
	background-color: #d1cbc150;
	border-radius: 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.cb-participation-admin-transactions-pagination {
	margin: 1rem auto;
}

button.cb-participation-admin-transactions-pagination-button,
button.cb-participation-admin-pagination-button {
	display:flex;
	width:40px;
	height: 40px;
	justify-content:center;
	align-items: center;
	padding: 0;
	position: relative;
}

button.cb-participation-admin-transactions-pagination-button.active,
button.cb-participation-admin-pagination-button.active {
	background-color: #2a2a2a;
	color: #dbb778;
}

button.cb-participation-admin-transactions-pagination-button.disabled:hover,
button.cb-participation-admin-pagination-button.disabled:hover {
	cursor: not-allowed;
	border-color: transparent;
	color: #c8cbcf;
	background-color: #f5f5f5;
	pointer-events:none;

}

button.cb-participation-admin-transactions-pagination-button.disabled, 
button.cb-participation-admin-pagination-button.disabled {
	border-color: transparent;
}

button.cb-participation-admin-transactions-pagination-button:hover,
button.cb-participation-admin-pagination-button:hover {
	border-color:#2a2a2a;
	color: #dbb778;
}

button.cb-participation-admin-edit-button {
	width: 100%;
	background-color: transparent;
	border: 0;
	padding: 0;
	margin:0;
}

button.cb-participation-admin-edit-button:hover {
	border: 0;
	background-color: transparent;
}

#cb-participation-admin-edit-form-wrapper {
	display:none;
	width: 100%;
	max-width: 90dvw;
	max-height: 90dvh;
	height: 100%;
}

#cb-participation-admin-transactions {
	width: 100%;
	height: 100%;
	padding:20px;
	overflow-y: scroll;
	scrollbar-width: 6px;
	scrollbar-color: #d1cbc1 transparent;

}

#cb-participation-admin-edit-form-wrapper.active {
	top: 50%;
	left: 50%;
	position:fixed;
	display:flex;
	transform: translate( -50%, -50% );
	justify-content:center;
	align-items:center;
	flex-flow: row wrap;
	z-index:991;
}

#cb-participation-admin-edit-form-wrapper.active:before {
	content:'';
	top: 50%;
	left: 50%;
	position:fixed;
	display:block;
	transform: translate( -50%, -50% );
	z-index:990;
	width: 100vw;
	max-width: 100dvw;
	max-height: 100dvh;
	height: 100dvh;
	background-color:black;
	opacity: .5;
}

#cb-participation-admin-edit-form-container {
	display:flex;
	justify-content:center;
	align-items: center;
	width: 100%;
	height: 100%;
	max-width: 1200px;
	max-height:90dvh;
	position:relative;
	z-index: 992;
	background-color: white;
	border-radius: 10px;
	flex-flow: row-reverse wrap;
	overflow-y: scroll;
	padding: 1.2rem;
}

#cb-participation-admin-edit-form-container div {
	flex: 1 1 50%;
}

@media ( max-width: 768px ) {
	#cb-participation-admin-edit-form-container div {
		flex: 1 1 100%;
	}
}

#cb-participation-admin-edit-form {
	display:block;
	width: 100%;
	height: 80%;
	max-height: 500px;
	max-width: 400px;
	display: block;
	padding:20px;
	overflow-y:scroll;
	scrollbar-width: 6px;
	scrollbar-color: #d1cbc1 transparent;
}



#cb-participation-admin-edit-form::-webkit-scrollbar {
	width: 6px;

}

#cb-participation-admin-edit-form::-webkit-scrollbar-track {

	background: transparent;
}

#cb-participation-admin-edit-form::-webkit-scrollbar-thumb {
	background-color: #d1cbc1;    /* color of the scroll thumb */
	border-radius: 20px;       /* roundness of the scroll thumb */
	border: 3px solid #d1cbc1;  /* creates padding around scroll thumb */
}

.cb-participation-admin-edit-form-applicant-data {
	display: flex;
	gap: 20px;
}


label[for=cb_participation_amount_override] {
	display:none;
}

label[for=cb_participation_amount_override].override {
	display:block;
}

#cb_participation_amount_override {
	display:none;
}

#cb_participation_amount_override.override {
	display:block;
}

#cb-participation-admin-edit-form-close {
	display:flex;
	position: absolute;
	float:right;
	right: 5%;
	top: 5%;
	justify-content:center;
	align-items:center;
	width: 20px;
	height: 20px;
	border: 0;
	background-color: transparent;
}

#cb-participation-admin-edit-form-close:hover {
	border: 0;
	background-color: transparent;
}

#cb-participation-admin-edit-form-close:hover:before,
#cb-participation-admin-edit-form-close:hover:after {
	opacity: .5;
}

#cb-participation-admin-edit-form-close:before {
	content: '';
	width: 20px;
	position:absolute;
	height: 2px;
	background-color: #d1cbc1;
	border-radius: 5px;
	transform: rotate(45deg);
	transition: all .25s ease-in-out;
}
#cb-participation-admin-edit-form-close:after {
	content: '';
	width: 20px;
	position:absolute;
	height: 2px;
	background-color: #d1cbc1;
	border-radius: 5px;
	transform: rotate(-45deg);
	transition: all .25s ease-in-out;
}

#cb-participation-file-viewer-wrapper {
	display:none;
	width: 100%;
	max-width: 80vw;
	max-height: 80vh;
	height: 100%;
}

#cb-participation-file-viewer-wrapper.active {
	top: 50%;
	left: 50%;
	position:fixed;
	display:block;
	transform: translate( -50%, -50% );
	z-index:991;
}

#cb-participation-file-viewer-wrapper.active:before {
	content:'';
	top: 50%;
	left: 50%;
	position:fixed;
	display:block;
	transform: translate( -50%, -50% );
	z-index:990;
	width: 100vw;
	max-width: 100vw;
	max-height: 100vh;
	height: 100vh;
	background-color:black;
	opacity: .5;
}

#cb-participation-file-viewer-container {
	display:block;
	position:relative;
	width: 100%;
	height: 100%;
	padding: 20px;
	z-index: 992;
}

#cb-participation-file-viewer {
	display: flex;
	justify-content:center;
	align-items:center;
	position:relative;
	height: 100%;
	max-height: 400px;
	overflow:hidden;
	margin: 30px;
}


#cb-participation-file-viewer.is-loading:after {
	content:'';
}

#cb-participation-file-viewer img {
	position: absolute;
	max-width: 100%;
	max-height: 100%;
}

a.cb-participation-admin-thumb-link.active {
	opacity: 0.3;
}

#cb-participation-thumbnail-container {
	display: flex;
	flex-flow: row wrap;
	justify-content:center;
	align-items:flex-start;

}

#cb-participation-thumbnail-container.active {
}

a.cb-participation-admin-thumb-link {
	display:block;
	aspect-ratio: 1;
	flex: 0 0 5vw;
	min-width: 50px;
	min-height: 50px;
	border-radius: 50px;
	margin: 10px;
	overflow:hidden;
}

.cb-participation-admin-thumb {
	aspect-ratio: 1;
	width: 100%;
	height:100%;
	object-fit: cover;
}



#cb-participation-file-view-close {
	display:flex;
	position: absolute;
	float:right;
	right: 0;
	justify-content:center;
	align-items:center;
	width: 20px;
	height: 20px;
	border: 0;
	background-color: transparent;

}

#cb-participation-file-view-close:hover {
	border: 0;
	background-color: transparent;
}

#cb-participation-file-view-close:hover:before,
#cb-participation-file-view-close:hover:after {
	opacity: .5;
}

#cb-participation-file-view-close:before {
	content: '';
	width: 20px;
	position:absolute;
	height: 2px;
	background-color: #d1cbc1;
	border-radius: 5px;
	transform: rotate(45deg);
	transition: all .25s ease-in-out;
}
#cb-participation-file-view-close:after {
	content: '';
	width: 20px;
	position:absolute;
	height: 2px;
	background-color: #d1cbc1;
	border-radius: 5px;
	transform: rotate(-45deg);
	transition: all .25s ease-in-out;
}